.speech{
    color:black;
    font-size: 20px;
}
.direction{
    background-color: aliceblue;
    color:black;
    font-size: 25px;
}
.name{
    color:darkorange;
}
.direction:hover{
    color: cornsilk;
    background-color: violet;
}
.SOLNESS:hover{
    border: solid 2px rgb(153, 92, 215);
    text-shadow: 3px 3px 3px rgb(132, 59, 122);
}
.KAIA:hover{
    border: solid 2px rgb(153, 92, 215);
    text-shadow: 3px 3px 3px rgb(132, 59, 122);
}
.MRSSOLNES:hover{
    border: solid 2px rgb(153, 92, 215);
    text-shadow: 3px 3px 3px rgb(132, 59, 122);
}
.HILDA:hover{
    border: solid 2px rgb(153, 92, 215);
    text-shadow: 3px 3px 3px rgb(132, 59, 122);
}
.SOLNESS{
    font-size: 20;
    color: darkblue;
}
.KAIA{
    font-size: 35;
    color: darkred;
}
.MRSSOLNESS{
    font-size: 30;
    color: dodgerblue;
}
.HILDA{
    font-size: 35;
    color: forestgreen;
}
table ,th,td{
    border: 1px solid;
    color:brown;
    text-align: left;
    padding:0px;
    margin: 0px;
}
td{
    background-color: cornflowerblue;
}
ul.navbar-horizontal{
    list-style-type: none;
    margin: 1px;
    padding: 2px;
}
ul.navbar-horizontal{
    float: left;
    color: rgb(17, 16, 97);
    background-color:crimson;
}
ul.navbar-horizontal a{
    display: block;
    padding: 3px;
}
ul.navbar-horizontal a:hover{
    background-color: rgb(117, 23, 225);
    color: rgb(122, 44, 234);
}