.speech{
    color:black;
    font-size: 20px;
}
.direction{
    background-color: aliceblue;
    color:black;
    font-size: 25px;
}
.direction:hover{
    color: cornsilk;
    background-color: violet;
}
.SOLNESS{
    font-size: 20;
    color: darkblue;
}
.KAIA{
    font-size: 35;
    color: darkred;
}
.MRS SOLNESS{
    font-size: 30;
    color: dodgerblue;
}
table ,th,td{
    border: 1px solid;
    color:brown;
    text-align: left;
    padding:0px;
    margin: 0px;
}
td{
    background-color: cornflowerblue;
}